body{
  background-color: #323232;
  color: #fff;
}

footer {
  text-align: center;
  margin-top: 2.5rem;
  font-family: 'Indie Flower', cursive;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: #FFE162;
  margin: 0 auto;
  text-shadow: 0.25rem 0.25rem #000000;
}

h3{
  color: #FF6464;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

img {
  width: 10%;
  margin: 0;
}

.player1, .player2 {
  width: 70%;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.players {
  display: inline-block;
  margin: 2.5rem auto;
  text-align: center;
}